.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  // background-color: red;
  @media all and (max-width: 600px) {
    width: 350px;
  }
  @media all and (min-width: 601px) and (max-width: 900px) {
    width: 600px;
  }
  @media all and (min-width: 901px) {
    width: 900px;
  }
}

.formEl {
  display: flex;
  background-color: red;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media all and (max-width: 600px) {
    width: 350px;
    height: 170px;
  }
  @media all and (min-width: 601px) and (max-width: 900px) {
    width: 600px;
    height: 250px;
  }
  @media all and (min-width: 901px) {
    width: 900px;
    height: 350px;
  }
  &Div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: 600px) {
      width: 280px;
    }
    @media all and (min-width: 601px) and (max-width: 900px) {
      width: 500px;
    }
    @media all and (min-width: 901px) {
      width: 800px;
    }
    &Input {
      margin-top: 10px;
      margin-bottom: 10px;
      @media all and (max-width: 600px) {
        width: 200px;
        height: 30px;
      }
      @media all and (min-width: 601px) and (max-width: 900px) {
        width: 400px;
        height: 60px;
        font-size: 25px;
      }
      @media all and (min-width: 901px) {
        width: 650px;
        height: 90px;
        font-size: 35px;
      }
    }
  }
  &DivButton {
    display: flex;
    justify-content: center;
  }
}
.span {
  @media all and (min-width: 601px) and (max-width: 900px) {
    font-size: 18px;
  }
  @media all and (min-width: 901px) {
    font-size: 22px;
  }
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 600px) {
    width: 300px;
  }
  @media all and (min-width: 601px) and (max-width: 900px) {
    width: 550px;
  }
  @media all and (min-width: 901px) {
    width: 750px;
  }
}

.formButton {
  height: 30px;
  width: 30px;
  justify-content: center;
  background: url("./check.svg") no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: 25px 25px;
  border: 1px solid #000;
  &:hover {
    background-color: green;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  @media all and (max-width: 600px) {
    height: 30px;
    width: 30px;
    background-size: 25px 25px;
  }
  @media all and (min-width: 601px) and (max-width: 900px) {
    height: 50px;
    width: 50px;
    background-size: 45px 45px;
  }
  @media all and (min-width: 901px) {
    height: 60px;
    width: 60px;
    background-size: 55px 55px;
  }
}
