$colorNav: red;
$popOutBorder: rgb(0, 0, 0);
.menu {
  &Disabled {
    display: none;
    @media all and (min-width: 901px) {
      display: flex;
      width: 170px;
      height: 50px;
      justify-content: space-around;
      align-items: center;
      border: none;
      position: static;
    }
  }
  &Abled {
    border-radius: 10px;
    overflow: hidden;
    @media all and (min-width: 350px) and (max-width: 900px) {
      background-color: #fff;
      box-shadow: 0px 0px 6px #b2b2b2;
      position: fixed;
      display: none;
      width: 170px;
    }
    @media all and (min-width: 901px) {
      display: flex;
      width: 170px;
      height: 50px;
      justify-content: space-around;
      align-items: center;
      border: none;
      position: static;
    }
  }
}
.popOutImg {
  @media all and (min-width: 350px) and (max-width: 900px) {
    width: 30px;
    height: 50px;
    background: url(./icons/menu-burger.svg) no-repeat;
    background-size: 25px 25px;
    background-position: center;
  }
  @media all and (min-width: 901px) {
    position: static;
    display: flex;
    justify-content: space-around;
    width: 170px;
  }
}
.isPopOutImg {
  height: 100%;
  height: 50px;
  position: relative;
  @media all and (max-width: 901px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }
  @media all and (min-width: 901px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
  }
  &:hover {
    @media all and (min-width: 350px) and (max-width: 900px) {
      .menuAbled {
        top: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .navLinkTail {
        display: block;
      }
    }
  }
}

.navLink {
  text-decoration: none;
  color: #000;
  &:hover {
    color: rgb(62, 199, 62);
  }

  @media all and (max-width: 600px) {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  @media all and (min-width: 901px) {
    &:hover {
      color: #fff;
    }
  }
  @media all and (min-width: 601px) {
    font-size: 18px;
  }
  &Div {
    &:first-child {
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      border-radius: 0 0 10px 10px;
    }
    @media all and (max-width: 900px) {
      padding: 10px 0 10px 0;
      box-shadow: 0px 0px 2px #b2b2b2;
      width: 100%;
      display: flex;
      justify-content: center;
      &:last-child {
        border-top: none;
      }
    }
  }
  &Tail {
    display: none;
    width: 20px;
    height: 20px;
    top: 92%;
    left: 20px;
    position: absolute;
    z-index: 10010101;
    background-color: white;
    transform: rotate(45deg);
  }
}

.clickController {
  position: absolute;
  height: 80%;
  width: 100%;
  @media all and (min-width: 901px) {
    display: none;
  }
}
