.contactsListContainer {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  @media all and (max-width: 600px) {
    width: 350px;
    margin-bottom: 25px;
  }
  @media all and (min-width: 601px) {
    width: 500px;
    margin-bottom: 35px;
  }
}
.contactsList {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  @media all and (max-width: 600px) {
    width: 350px;
    margin-bottom: 25px;
  }
  @media all and (min-width: 601px) {
    width: 500px;
    margin-bottom: 35px;
  }
}
.title {
  margin-bottom: 15px;
}
